<a href="https://colab.research.google.com/github/CHHyuk/Practice/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

print(df)
print('\n')
print(df['Age'])
print('\n')
print(df['Name'])
print('\n')
print(df['Sex'])
print('\n')
print(df.describe()) # 숫자로 이루어진 행만 표현됨
print('\n')
print(df.info())

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female


0    22
1    35
2    58
Name: Age, dtype: int64


0     Braund, Mr. Owen Harris
1    Allen, Mr. William Henry
2    Bonnell, Miss. Elizabeth
Name: Name, dtype: object


0      male
1      male
2    female
Name: Sex, dtype: object


             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [12]:
ages = pd.Series([22, 35, 58], name="Age")

print(ages)
df['Age']

print('최대 나이 : ', df['Age'].max())
print('평균 나이 : ', df['Age'].mean())

0    22
1    35
2    58
Name: Age, dtype: int64
최대 나이 :  58
평균 나이 :  38.333333333333336